@font-face {
   font-family: "Hiragino Sans GB W6";
   src: url("fonts/Hiragino Sans GB W6.woff") format("woff"), url("fonts/Hiragino Sans GB W6.eot") format("embedded-opentype"), url("fonts/Hiragino Sans GB W6.ttf") format("truetype"), url("fonts/Hiragino Sans GB W6.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}